
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h3>Contacts</h3>
        <button class="btn btn-success align-self-*-center float-right" >New Contact</button>     
    </div>  
    <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <cms-contact-item
              *ngFor="let contactEl of contacts"
              [contact]="contactEl"
              (contactSelected)="onContactSelected(contactEl)">
            </cms-contact-item>
          </div>
        </div>
    </div>
  </div>
</div>

 
      

  
  